<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %class{5}.%method:%line - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>java-gradle-template.log</file>
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %class{36}.%method:%line - %msg%n</pattern>
		</encoder>
	</appender>
	<root>
		<level value="debug" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>