table,tr,td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 2px;
	height: 40px;
	width: 70%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.label_cell {
	padding: 2px;
	height: 40px;
	width: 30%;
}

.output_cell {
	padding: 2px;
	height: 40px;
	width: 70%;
}

.textarea_cell {
	padding: 2px;
	height: 90px;
	width: 70%;
}

textarea {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}